.product-list {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-list-texts {
    width: 65%;
}

.product-list-title {
    font-weight: 600;
    font-size: 50px;
}

.product-list-desc {
    margin: 20px 0px;
}

.product-list-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (max-width: 480px) {
  .product-list {
    /* flex-direction: column; */
    padding: 10px;
  }

  .product-list-texts {
    width: 100%;
  }

  .product-list-title {
    font-size: 20pt;
  }

  .product-list-desc {
    display: none;
  }
}